%h1 New MongoDB Connection

= render :partial => "partials/error", :locals => { :errors => err_msg }

= form_for(:conn, :url => { :controller => "mongo_connections",
                            :action => "create" }) do |f|
  = f.label :location, "location"
  = f.text_field :location
  = f.label :port, "port number"
  = f.text_field :port
  = f.label :mode, "mode"
  = select("conn", "mode",
            [["auto", "auto"],
            ["replica set", "repl_set"],
            ["master/slave", "master_slave"]])

  = f.submit "connect"

