-local_prefix = "views.solrs.index"
%h1= t("#{local_prefix}.header")

%table
  %tr
    %th Name
  -solrs.each do |name, solr|
    %tr
      %td= link_to(name, edit_solr_path(solr))
      %td= link_to(t("#{local_prefix}.remove"), solr, :method => :delete)

%br/

= link_to(t("#{local_prefix}.add_new"), new_solr_path)

